<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<script>
    $(document).ready(function () {
        const config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "EEG Data 1",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [],
                    fill: false,
                },
                {
                    label: "EEG Data 2",
                    backgroundColor: 'rgb(0, 99, 132)',
                    borderColor: 'rgb(0, 99, 132)',
                    data: [],
                    fill: false,
                },
                {
                    label: "EEG Data 3",
                    backgroundColor: 'rgb(0, 0, 132)',
                    borderColor: 'rgb(0, 0, 132)',
                    data: [],
                    fill: false,
                },
                {
                    label: "EEG Data 4",
                    backgroundColor: 'rgb(0, 99, 0)',
                    borderColor: 'rgb(0, 99, 0)',
                    data: [],
                    fill: false,
                }
            ,
               {
                    label: "EEG Data 5",
                    backgroundColor: 'rgb(100, 0, 132)',
                    borderColor: 'rgb(100, 0, 132)',
                    data: [],
                    fill: false,
                }
            ],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Data'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };

        const context = document.getElementById('canvas').getContext('2d');

        const lineChart = new Chart(context, config);

        const source = new EventSource("/chart-data");

        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            if (config.data.labels.length === 20) {
                config.data.labels.shift();
                config.data.datasets[0].data.shift();
                config.data.datasets[1].data.shift();
                config.data.datasets[2].data.shift();
                config.data.datasets[3].data.shift();
                config.data.datasets[4].data.shift();

            }
            config.data.labels.push(data.time);
            config.data.datasets[0].data.push(data.value1);
            config.data.datasets[1].data.push(data.value2);
            config.data.datasets[2].data.push(data.value3);
            config.data.datasets[3].data.push(data.value4);
            config.data.datasets[4].data.push(data.value5);


            lineChart.update();
        }
    });
</script>
</body>
</html>
